<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mc.arct.intstationapp">

    <!-- GoogleMap機能を使うために必要パーミッションを書いておく -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="locale" >
        <activity android:name=".activities.StartUp"
            android:label="@string/app_name_short" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Input"/>
        <activity android:name=".activities.Result"/>
        <activity android:name=".activities.Route"/>
        <activity android:name=".activities.Area"/>
        <activity android:name=".activities.Suggested"/>
        <activity android:name=".common.ComBtn"/>
        <activity android:name=".activities.Searching"/>

        <!-- GoogleMap機能を使うために必要なAPIキー -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDbQYYuxs0C03_JmY9Y1aiVy6UaCnjeszs" />
    </application>

</manifest>